; Top-most EditorConfig file
root = true

; Windows-style newlines
[*]
end_of_line = CRLF

; Tab indentation
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
